.presult .row {
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    width: "100%";
}

.presult .row .desct {
    border-inline-end: 1px solid rgba(5, 5, 5, 0.06);
    padding: 12px 20px;
    text-align: start;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.88);
    font-weight: normal;
    display: table-cell;
    cursor: pointer;
    max-width: "60%";
    transition: 0.25s;
}

.presult .row .desct.select {
    background-color: #1097ff2a;
}

.presult .row .desct.noneSelect {
    background-color: rgba(0, 0, 0, 0.02);
}

.presult .row .rest {
    border-inline-end: none;
    padding: 12px 20px;
    color: rgba(0, 0, 0, 0.88);
    word-break: break-word;
    overflow-wrap: break-word;
    display: table-cell;
    min-width: "40%";
}
.presult .row .desct span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.25s;
}

.presult .row .desct span:after {
    content: "»";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -15px;
    transition: 0.25s;
}

.presult .row .desct:hover span {
    padding-right: 15px;
}

.presult .row .desct.noneSelect:hover {
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.1);
}

.presult .row .desct.select:hover {
    transition: 0.5s;
    background-color: #4096ff28;
}

.presult .row .desct:hover span:after {
    opacity: 1;
    right: 0;
}
